Configuration4Net/Configuration4NetSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Configuration4Net" elementFormDefault="qualified" targetNamespace="urn:Configuration4Net" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="agentConfiguration4NetSection" type="tns:Configuration4Net.AgentConfiguration4NetSectionCT" />
	<xs:complexType name="Configuration4Net.AgentConfiguration4NetSectionCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="managers" type="tns:Configuration4Net.ManagerSectionCollectionsCT">
				<xs:annotation>
					<xs:documentation>The ConfigManagers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Configuration4Net.PropertyCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Configuration4Net.PropertyCollectionsCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="property" type="tns:Configuration4Net.PropertyCT">
				<xs:annotation>
					<xs:documentation>The Property Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Configuration4Net.ManagerSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="properties" type="tns:Configuration4Net.PropertyCollectionsCT">
				<xs:annotation>
					<xs:documentation>The Properties.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="loaderType" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The LoaderType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="appName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AppName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Configuration4Net.ManagerSectionCollectionsCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="managerSection" type="tns:Configuration4Net.ManagerSectionCT">
				<xs:annotation>
					<xs:documentation>The ManagerSection Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
